.Contentdark{
    transition: all 0.4 ease-in-out;
    background-color: #1F1F1F !important;

    nav{
        background-color: #000 !important;
    }
    .header
    {
        background-color: #000;
    }
        
}

